body{
background: black;
width: 90%;
font-family: 'Dancing Script';
margin-left: 5%;
}
header{
background:#5b7989;
color: white;
border-radius:10px 10px 0px 0px;
padding: 0 2%;
	}
#principal{
display: flex;
flex-direction: row;
}
#prueba{
text-align:left;
padding:1%;
margin: auto;
color: white;
text-decoration:none;
width: 50%;
}
#contenidos,a{
  font-size: 1.3em;
	text-decoration: none;
	margin: auto;
	color: white;
	padding:10px 0px;
	text-align:right;
	width: 50%;
}

#imagenes_varias{
  flex-direction: column;
  background-color:#d5c75f;

}
#fila1{
  flex-direction: row;
  display: flex;
  width: 100%;
}

#fila2{
  flex-direction: row;
  display: flex;
  width: 100%;
}

#imagen1{
-webkit-filter:blur(10px);
}
#imagen2{
-webkit-filter:grayscale(100%);
}
#imagen3{
filter:sepia(90%);
}
#imagen4{
-webkit-filter:grayscale(100%);
}
#imagen5{
-webkit-filter:;
}
#imagen6{
-webkit-filter:grayscale(100%);
}
#footer_todo{
	text-align: center;
color: black;
 background-color: #C6d5c5;
 display: flex;
 flex-direction: row;
}
#footer_todo > div{
 width: 25%;
 padding: 5px 2px;
}
footer > h3 {
	text-align:center;
}

@media (max-width: 500px) {

  #principal{
  flex-direction: column;
  }
  #prueba{
    width: 100%;
    text-align: center;
  }
  #contenidos,a{
    width: 100%;
text-align: center;
  }
  #fila1{
    flex-direction:column;
  }

  #fila2{
    flex-direction: column;
  }
  #footer_todo{
   flex-direction:column;
  }
  #footer_todo > div{
   width: 100%;
  }

}
